<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <nb-card data-testid="window-form-card">
      <nb-card-header>Window Form</nb-card-header>
      <nb-card-body>
        <button (click)="openWindowForm()" nbButton data-testid="open-window-form-btn">Open window form</button>

        <button (click)="openWindow(contentTemplate)" nbButton data-testid="open-window-template-btn">Open window with template</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <nb-card data-testid="window-no-backdrop-card">
      <nb-card-header>Window Without Backdrop</nb-card-header>
      <nb-card-body>
        <button (click)="openWindow(contentTemplate)" nbButton data-testid="open-window-backdrop-btn">Open window with backdrop</button>

        <button (click)="openWindowWithoutBackdrop()" nbButton data-testid="open-window-no-backdrop-btn">Open window without backdrop</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #contentTemplate let-data>
  <p data-testid="template-modal-text">Here is the text provided via config: "{{ data.text }}"</p>
</ng-template>

<ng-template #disabledEsc>
  <span data-testid="no-backdrop-modal-text">Disabled close on escape click.</span>
</ng-template>
