<nb-card data-testid="name-prompt-dialog">
  <nb-card-header>Enter your name</nb-card-header>
  <nb-card-body>
    <input #name nbInput placeholder="Name" data-testid="name-prompt-input">
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()" data-testid="name-prompt-cancel-btn">Cancel</button>
    <button nbButton status="success" (click)="submit(name.value)" data-testid="name-prompt-submit-btn">Submit</button>
  </nb-card-footer>
</nb-card>
