<div class="row" data-testid="status-cards-row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6" data-testid="temperature-widget">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6" data-testid="electricity-widget">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12" data-testid="rooms-widget">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6" data-testid="contacts-widget">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="solarValue" data-testid="solar-widget"></ngx-solar>

    <ngx-kitten data-testid="kitten-widget"></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic data-testid="traffic-widget"></ngx-traffic>
    <ngx-weather data-testid="weather-widget"></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7" data-testid="security-cameras-widget">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div>
